
<h1><%= t(".title") %></h1>


<% if notice.present? %>
  <p id=notice ><%= notice %></p>
<% end %>

<div>
  <%=button_to t(".new_game"), 'create' %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t(".game_progress") %></th>
      <th><%= t(".dice") %></th>
      <th><%= t(".status") %></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
    <tr>
      <th><%=link_to t(".game")+" "+"#{game.id}", game %></th>
      <th><%= game.dice.showing_face %></th>
      <th><%= game.status %></th>
    </tr>
    <% end %>
  </tbody>

</table>


     