<div class="container">

  <h1>Jeu du corbeau</h1>

  <% if notice.present? %>
    <p id=notice ><%= notice %></p>
  <% end %>

  <div>
    <%=button_to "Nouvel partir", new_game_path %>
  </div>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Partir</th>
        <th>Fruits</th>
        <th>Dé</th>
        <th>Corbeau</th>
      </tr>
    </thead>

    <tbody>
      <% @games.each do |game| %>
      <tr>
        <th><%=link_to "Partir en cours", game %></th>
        <th><%= game.fruits.on_tree.count %></th>
        <th><%= game.dice.showing_face %></th>
        <th><%= game.crow.advancement %></th>
      </tr>
      <% end %>
    </tbody>

  </table>

</div>



        