<<<<<<< HEAD

<h1>Games <%=@game.id%></h1> 
<div class = "bouton<%= button_to "We win", game_win_path(@game.id) %>">
</div>

<br>
<%= button_to "We loose", game_loose_path(@game.id) %>
 

<h1><%= t('.name') + @game.id%></h1> 
=======
<h1><%= t('.name') + @game.id.to_s %></h1> 
>>>>>>> 34278536e8cd4add59f6c2dff1ebc7fbbd68d27c
<%= button_to "We win", game_win_path(@game.id) %>
<%= button_to "We loose", loose_path %>


<h2>< %= t('Fruits')% ></h2>

<%= render @game.fruits.on_tree %>

<h2>Dé</h2>
<%= render 'dice', showing_face: @game.dice.showing_face %>

<%= button_to "Lancez le Dé", roll_dice_path %>

<%= render 'crow', crow: @game.crow %>


<h2>Panier</h2>
<%= render @game.fruits.on_basket %>