<h1>Games <%=@game.id%></h1>

<h2>Fruits</h2>
<%@game.fruits.on_tree.each do |fruit|%>
  <div class="fruit-<%=fruit.color%>"></div>
  <%= button_to "crop", crop_fruit_path %>
<%end%>

<h2>Dé</h2>
<div class="dice-<%=@game.dice.showing_face%>"></div>
<p>Dernier tirage : <%=@game.dice.showing_face%></p>
<%= button_to "Lancez le Dé", roll_dice_path %>

<h2>Corbeau</h2>
<p>Avancement : <%=@game.crow.advancement%></p>
<%= button_to "Step Crow", step_crow_path %>
