<h1>Games <%=@game.id%></h1>

<h2>Fruits</h2>

<%= render @game.fruits.on_tree %>

<h2>Dé</h2>
<%= render 'dice', showing_face: @game.dice.showing_face %>

<%= button_to "Lancez le Dé", roll_dice_path %>

<%= render 'crow', crow: @game.crow %>


<h2>Panier</h2>
<p>Dernier fruit recolte</p>
<%= render @game.fruits.last %>